<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectCoursesVB.My.MySettings.coursesConnectionString"
            connectionString="server=localhost;user id=root;database=courses"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjectCoursesVB.My.MySettings.courses_projectConnectionString"
            connectionString="server=localhost;user id=root;database=courses_project"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>